
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f5f7fa;
  color: #222;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

